* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.page-wrap {
    width: 100%;
    height: auto;
}

.feature-wrapper{
	width: 100%;
	height: auto;

	clear: both;
}
.feature-wrapper .container{
	max-width: 1400px;
	margin: 0 auto;
	height: 100%;
	background: transparent;
}
.container .content-left{
	width: 70%;
	float: left;
	height: 100%;
}
.content-left .content-left-wr{
	width: 100%;
	height: 50px;
	margin-top: 20px;
}
.content-left-wr .title{
	width: 31%;
	height: 50%;
	float: left;
}
.title h2.title-wr{
	margin: 0;
	padding: 0;
	line-height: 50px;
	font-size: 1.5rem;
	font-weight: 400;
	padding-left: 10px;
	color: white;
	background-image: linear-gradient(to right, #ca1f63, #26287d);
}
.main-menu{
	float: left;
    height: 100%;
    width: 69%;
    border-bottom: 2px solid white;
}
.main-menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.main-menu ul li{
	float: left;
	padding-left: 68px;
	line-height: 50px;
}
.main-menu ul li a{
	text-decoration: none;
	text-transform: capitalize;
}
.content-colllum{
	width: 31.2%;
	margin-right: 2%;
	height: 270px;
	background: transparent;
	float: left;
	margin-top: 20px;
	border: 2px solid white;
}
.content-colllum h3.intro-hd{
	margin: 0;
	padding: 7px;
	color: white;
	width: 100%;
	height: 55px;
	background: #c52263;
	font-size: 1.1rem;
}
.content-colllum ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding: 20px;
}
.content-colllum ul li{
	padding-bottom: 9px;
	color: grey;
}
.text-bottom{
	text-align: center;
}
.content-colllum a.sub-bottom{
	margin: 0 auto;
	text-decoration: none;
	color: white;
	font-weight: 600;
	background: #3a3093;
	border-radius: 30px;
	padding: 0.5rem 1.2rem;
}
.content-colllum a.color{
	background: #c52263;
}
.dot-click{
	width: 10%;
	height: 20px;
	text-align: center;
	clear: both;
	margin: 10px auto;
	padding-top: 20px;
}
.dot-click .dot-bottom{
	width: 8px;
    height: 8px;
    border-radius: 50px;
    background: #c52263;
    margin-right: 10px;
    float: left;
}
.dot-click .color{
	background: #3a3093;
}
.container .content-right{
	width: 30%;
	float: left;
	height: 100%;
	background-image: linear-gradient(to right, #ca1f63, #26287d);
}
.content-right .content-right-wr{
	width: 100%;
	height: 50px;
	border-bottom: 2px solid white;
}
.content-right-wr h2.singer-intro{
	line-height: 15px;
	font-size: 1.6rem;
	font-weight: 400;
	color: white;
	padding-left: 10px;
	text-align: center;
}
.avatar{
	text-align: center;
	width: 100%;
	height: 70px;
	padding-top: 15px;
	clear: both;
}
.avatar img{
	width: 70px;
	height: 70px;
	border-radius: 50px;
}
.content-right h3.name-singer{
	color: white;
	text-align: center;
}
.content-right ul{
	width: 70%;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.content-right ul li{
	padding: 5px;
	color: white;
	font-size: 0.9rem;
	border-bottom: 1px solid white;
}
.text-bottom a.btn-sub{
	clear: both;
	margin: 0 auto;
	text-transform: uppercase;
	background: white;
	text-decoration: none;
	font-weight: 600;
	color: #181b6a;
	padding: 0.5rem 1rem;
	border-radius: 50px;
	display: inline-block;
	margin-top: 20px;
}
.feature-wrapper .main-navi{
	clear: both;
	width: 100%;
	height: 200px;
	background-image: linear-gradient(to right, #ca1f63, #26287d);
	text-align: center;
	margin-top: 2rem;
}
.main-navi h3.text-navi{
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
	margin: 0;
	padding-top: 1.5rem;
}
.main-navi p.text-btn{
	color: white;
	margin: 0;
	font-size: 2rem;
	padding-bottom: 2rem;
}
.text-bottom a.send-btn{
	padding: 10px 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	background: #26287d;
	border-radius: 20px;
	font-weight: 800;
}
.text-bottom a span {
	color: #ca1f63;
}


@media screen and (max-width: 980px) {
	.main-menu ul li a{
		width: 70%;
    	clear: both;
	}
	.content-colllum{
		width: 31%;
    	height: auto;
    	float: left;
	}
	.container .content-right{
		float: left;
		width: 30%;
	}
}

@media  screen and (max-width: 480px) {
	.container{
		width: 100%;
	}
	.title{
		width: 100%;
	}
	.main-menu{
		width: 100%;
		clear: both;
	}
	.content-colllum{
		width: 144%;
	}
	.title-wr{
		width: 461%;
	}
	.container .content-right{
		width: 100%;
		clear: both;
	}
}



.container {
    max-width: 1200px    margin: 0 auto;
    height: auto;
}

.header-wrapper {
    width: 100%;
    height: 500px;
    background: #ccc;
    background-image: url('img/banner-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-wr {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
  
}

.main-header {
    width: 100%;
    height: 60px;
    padding-top: 20px;
    z-index: 9999;
    position: sticky;
}

.logo {
    width: 25%;
    height: 100%;
    float: left;
   
}

.logo img {
    width: 64px;
    height: auto;
    float: left;
}

.logo span {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    float: left;
    color: #fff;
    margin-top: 10px;
}

.logo span strong {
    color: #4c094c;
}

.main-nav {
    width: 35%;
    height: 100%;
    float: left;
    /* background: red; */
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-nav ul li {
    float: left;
    margin-top: 19px;
}

.main-nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    padding: 10px;
}

.main-nav ul li a:hover {
    color: #24078E;
}

.hambuger-menu {
    width: 40%;
    height: 100%;
    float: left;
    /* background: #000; */
}

.hambuger-menu ul {
    list-style-type: none;
}

.hambuger-menu ul li {
    float: right;
    margin-top: 1px;
    padding-right: 20px;
}

.hambuger-menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.hambuger-menu ul li a:hover {
    color: #24078E;
}

.banner-png-ima {
    width: 500px;
    height: 450px;
    background-image: url(img/themanhahaha.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -0.7rem;
    margin-left: 42rem;
    z-index: 3000;
    position: absolute;
}

.hinhchunhat {
    position: relative;
    width: 600px;
    height: 300px;
    background: transparent;
    position: absolute;
    top: 19%;
    left: 43%;
    border: 10px solid #4c094c;
    z-index: 0;
}

.banner-content {
    clear: both;
    top: 30%;
    width: 50%;
}

.banner-content h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 2.6rem;
    font-weight: 700;
    width: 40%;
    text-transform: uppercase;
}

.banner-content h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 1rem 0;
}

.btn-row {
    width: 100%;
    height: 70px;
    margin-top: 1rem;
}

a.btn-banner {
    background: #111253;
    color: #fff;
    padding: .7rem 1.5rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50px;
    margin: 1rem 1rem 0 0;
    text-transform: uppercase;
}

a.btn-banner .colorcha {
    color: #ae1e63;
}

a.btn-banner:hover {
    background: #37098A;
}




@media screen and (max-width: 980px) {
    .header-wrapper {
        width: 100%;
    }
    .header-wrapper {
        width: 100%;
        height: 400px;
    }
    .banner-png-ima {
        width: 700px;
        height: 400px;
        margin-top: -3.8rem;
        margin-left: 26rem;
    }
    .hinhchunhat {
        width: 481px;
        height: 255px;
        top: 22%;
        left: 46%;
    }
    .logo {
        padding-left: 20px;
    }
    .banner-content h2 {
        padding-left: 20px;
        font-size: 1.6rem;
    }
    .banner-content h3 {
        font-size: 1rem;
        padding-left: 20px;
    }
    a.btn-banner {
        margin-left: 20px;
    }
    .main-nav ul li a {
        font-size: .9rem;
    }
    .hambuger-menu ul li a {
        font-size: .9rem;
    }
    .hambuger-menu {
    width: 33%;
	}
}

@media screen and (max-width: 768px) {
    .hinhchunhat {
        width: 384px;
        height: 214px;
    }
    .banner-png-ima {
        width: 508px;
        height: 358px;
        margin-top: 0rem;
        margin-left: 16rem;
    }
    .banner-content {
        clear: both;
        top: 24%;
        width: 66%;
    }
    .banner-content h2 {
        font-size: 1.7rem;
    }
    .banner-content h3 {
        font-size: 1rem;
        padding-left: 20px;
    }
    .btn-row {
        width: 100%;
        height: 70px;
        margin-top: 0;
        padding-left: 20px;
    }
    a.btn-banner {
        display: inline-block;
        padding: .5rem 1rem;
        margin: .5rem 1rem 0 0;
    }
    .main-nav ul li a {
        display: none;
    }
    .main-nav ul li a.active {
        display: block;
    }
    .logo span {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .header-wrapper {
        width: 100%;
        height: 266px;
    }
    .banner-png-ima {
        width: 400px;
        height: 300px;
        margin-top: -3.8rem;
        margin-left: 8rem;
    }
    .hinhchunhat {
        width: 247px;
        height: 147px;
        top: 22%;
        left: 46%;
    }
    .main-nav ul li a {
        display: none;
    }
    .main-nav ul li a.active {
        display: block;
    }
    .logo span {
        display: none;
    }
    .banner-content {
        clear: both;
        top: 24%;
        width: 66%;
    }
    .banner-content h2 {
        font-size: 1rem;
    }
    .banner-content h3 {
        font-size: .8rem;
        padding-left: 20px;
    }
    .btn-row {
        width: 100%;
        height: 70px;
        margin-top: 0;
        padding-left: 20px;
    }
    a.btn-banner {
        display: inline-block;
        padding: .2rem 1rem;
        margin: .5rem 1rem 0 0;
    }
}




.event-intro {
    clear: both;
    width: 100%;
    background-image: url('img/background-event.jpg');
    background-size: cover;
    background-position: right;
}

.container .header-event {
    width: 100%;
 
}

.container .header-event p.texth-event {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    line-height: 2.5em;
    font-size: 32px;
    color: white;
}

.container .line-event {
    clear: both;
    width: 100%;
    border: 1px solid white;
}

.container .info-event {
    width: 100%;
    height: 10%;
    /* background: blue; */
    clear: both;
}

.container .info-event .day-event {
    width: 15%;
    height: 100%;
    float: left;
    margin: 0 auto;
    padding-left: 1%;
}

.container .info-event .day-event p.text-day-event {
    color: white;
}

.container .info-event .pic-event {
    width: 10%;
    height: 100%;
    float: left;
}

.container .info-event .pic-event img.pic-event-img {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    margin: 5%;
    background-repeat: repeat;
}

.container .info-event .address-event {
    width: 43%;
    height: 100%;
    float: left;
    margin: 0 auto;
}

.container .info-event .address-event p.text-address-event {
    color: white;
}

.container .info-event .dola-event {
    width: 8%;
    height: 100%;
    float: left;
    margin: 0 auto;
}

.container .info-event .dola-event p.text-dola-event {
    color: white;
}

.container .info-event .buy-ticket-event {
    width: 15%;
    height: 100%;
    float: left;
    margin: 0 auto;
}

.container .info-event .buy-ticket-event a.text-buy-ticket-event {
    text-decoration: none;
    color: blue;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2.5rem;
    margin-top: 10%;
    border-radius: 35%;
    background: white;
}

.container .info-event .buy-ticket-event a.text-buy-ticket-event:hover {
    background: blue;
    color: white;
}

.container .text-add-box {
    width: 100%;
    clear: both;
}

.container a.text-add-event {
    display: block;
    text-decoration: none;
    clear: both;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.container a.text-add-event:hover {
    color: blue;
}

@media screen and (max-width:980px) {
    .container {
        max-width: 80%;
        margin: 0 auto;
        height: auto;
    }
}

@media screen and (max-width:480px) {
    .event-intro {
        clear: both;
        width: 100%;
        background-image: url('img/background-event.jpg');
        background-size: cover;
        background-repeat: repeat;
    }
    .container .info-event .day-event {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .container .info-event .pic-event {
        width: 100%;
        clear: both;
    }
    .container .info-event .address-event {
        width: 100%;
        clear: both;
        text-align: center;
    }
    .container .info-event .dola-event {
        width: 100%;
        clear: both;
        text-align: center;
    }
    .container .info-event .buy-ticket-event {
        width: 100%;
        clear: both;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 1em;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.page-wrap {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}




.header-wrapper {
    width: 100%;
    height: 500px;
    background: #ccc;
    background-image: url('img/banner-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-wr {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
 
}

.main-header {
    width: 100%;
    height: 60px;
    padding-top: 20px;
    z-index: 9999;
    position: sticky;
}

.logo {
    width: 25%;
    height: 100%;
    float: left;
}

.logo img {
    width: 64px;
    height: auto;
    float: left;
}

.logo span {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    float: left;
    color: #fff;
    margin-top: 10px;
}

.logo span strong {
    color: #4c094c;
}

.main-nav {
    width: 35%;
    height: 100%;
    float: left;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-nav ul li {
    float: left;
    margin-top: 19px;
}

.main-nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    padding: 10px;
}

.main-nav ul li a:hover {
    color: #24078E;
}

.hambuger-menu {
    width: 40%;
    height: 100%;
    float: left;
}

.hambuger-menu ul {
    list-style-type: none;
}

.hambuger-menu ul li {
    float: right;
    margin-top: 1px;
    padding-right: 20px;
}

.hambuger-menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.hambuger-menu ul li a:hover {
    color: #24078E;
}

.banner-png-ima {
    width: 500px;
    height: 450px;
    background-image: url(img/themanhahaha.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -0.7rem;
    margin-left: 42rem;
    z-index: 3000;
    position: absolute;
}

.hinhchunhat {
    position: relative;
    width: 600px;
    height: 300px;
    background: transparent;
    position: absolute;
    top: 19%;
    left: 43%;
    border: 10px solid #4c094c;
    z-index: 0;
}

.banner-content {
    clear: both;
    top: 30%;
    width: 50%;
    position: absolute;
}

.banner-content h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 2.6rem;
    font-weight: 700;
    width: 40%;
    text-transform: uppercase;
}

.banner-content h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 1rem 0;
}

.btn-row {
    width: 100%;
    height: 70px;
    margin-top: 1rem;
}

a.btn-banner {
    background: #111253;
    color: #fff;
    padding: .7rem 1.5rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50px;
    margin: 1rem 1rem 0 0;
    text-transform: uppercase;
}

a.btn-banner .colorcha {
    color: #ae1e63;
}

a.btn-banner:hover {
    background: #37098A;
}



@media screen and (max-width: 980px) {
    .header-wrapper {
        width: 100%;
    }
    .header-wrapper {
        width: 100%;
        height: 400px;
    }
    .banner-png-ima {
        width: 700px;
        height: 400px;
        margin-top: -3.8rem;
        margin-left: 26rem;
    }
    .hinhchunhat {
    width: 481px;
    height: 255px;
    top: 16%;
    left: 38%;
}
    .logo {
        padding-left: 20px;
    }
    .banner-content h2 {
        padding-left: 20px;
        font-size: 1.6rem;
    }
    .banner-content h3 {
        font-size: 1rem;
        padding-left: 20px;
    }
    a.btn-banner {
        margin-left: 20px;
    }
    .main-nav ul li a {
        font-size: .9rem;
    }
    .hambuger-menu ul li a {
        font-size: .9rem;
    }
    .hambuger-menu {
    width: 33%;
	}
}

@media screen and (max-width: 768px) {
    .hinhchunhat {
        width: 247px;
	    height: 147px;
	    top: 23%;
	    left: 28%;
    }
    .banner-png-ima {
        width: 508px;
        height: 358px;
        margin-top: 0rem;
        margin-left: 16rem;
    }
    .banner-content {
        clear: both;
        top: 24%;
        width: 66%;
    }
    .banner-content h2 {
        font-size: 1.7rem;
    }
    .banner-content h3 {
        font-size: 1rem;
        padding-left: 20px;
    }
    .btn-row {
        width: 100%;
        height: 70px;
        margin-top: 0;
        padding-left: 20px;
    }
    a.btn-banner {
        display: inline-block;
        padding: .5rem 1rem;
        margin: .5rem 1rem 0 0;
    }
    .main-nav ul li a {
        display: none;
    }
    .main-nav ul li a.active {
        display: block;
    }
    .logo span {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .header-wrapper {
        width: 100%;
        height: 266px;
    }
    .banner-png-ima {
    width: 190px;
    height: 214px;
    margin-top: -0.5rem;
    margin-left: 13rem;
	}
    .hinhchunhat {
        width: 247px;
    height: 147px;
    top: 22%;
    left: 29%;
    }
    .main-nav ul li a {
        display: none;
    }
    .main-nav ul li a.active {
        display: block;
    }
    .logo span {
        display: none;
    }
    .banner-content {
        clear: both;
        top: 24%;
        width: 66%;
    }
    .banner-content h2 {
        font-size: 1rem;
    }
    .banner-content h3 {
        font-size: .8rem;
        padding-left: 20px;
    }
    .btn-row {
        width: 100%;
        height: 70px;
        margin-top: 0;
        padding-left: 20px;
    }
    a.btn-banner {
        display: inline-block;
        padding: .2rem 1rem;
        margin: .5rem 1rem 0 0;
    }
}

.project-intro {
    clear: both;
    height: 650px;
}

.title-project-intro {
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

span.title-upc {
    font-size: 33px;
    font-weight: 200;
    color: #a32b72;
}

span.title-projects {
    font-size: 33px;
    font-weight: 500;
    color: #2d0a47;
}

.menu-project-intro {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #959090;
}

ul.ul-project-intro {
    margin-left: 10rem;
    list-style-type: none;
}

ul.ul-project-intro li a {
    float: left;
    margin-right: 6rem;
    text-decoration: none;
    color: #000;
}

ul.ul-project-intro li a:hover {
    color: #7D0055;
    border-bottom: 3px solid #7D0055;
    cursor: pointer;
}

.content-project-intro {
    width: 100%;
    height: 400px;
    margin-top: 1rem;
}

.cnt {
    width: 24%;
    height: 100%;
    float: left;
    margin-right: 1rem;
}

.cnt:last-child {
    margin-right: 0;
}

.cnt-ima {
    width: 100%;
    height: 85%;
    background: #DAAEAE;
}

img.ima {
    width: 100%;
    height: 100%;
}

.cnt-content {
    width: 100%;
    height: 15%;
    background-image: linear-gradient(to right, #820e49, #3f123f);
}

h3.h3cnt-content {
    margin: 0;
    padding: 0;
}

.cnt-content h3.h3cnt-content a {
    color: #ffe4e4;
    margin: 0;
    padding: 0;
    margin-left: 1.3rem;
    font-weight: 500;
    text-decoration: none;
}

.cnt-content h3.h3cnt-content a:hover {
    color: #D1B6F2;
}

span.location {
    margin-left: 1.3rem;
    display: block;
    color: #fce9e9;
    font-size: 13px;
    font-weight: 300;
    margin-top: 0.4rem;
}

span.date {
    color: #fce9e9;
    display: block;
    margin-left: 1.3rem;
    font-size: 13px;
    font-weight: 300;
}

.view-project-intro {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 1rem;
    line-height: 50px;
}

a.view {
    color: #64083a;
}

a.view:hover {
    color: #FEADCB;
}


/* Responsive phan project intro */

@media screen and (max-width: 980px) {
    ul.ul-project-intro li a {
        margin-right: 3rem;
    }
    .cnt {
        width: 23%;
        height: 100%;
        float: left;
        margin-right: .5rem;
        margin-left: .6rem;
    }
}

@media screen and (max-width: 768px) {
    ul.ul-project-intro {
        margin-left: 6rem;
        list-style-type: none;
    }
    ul.ul-project-intro li a {
        margin-right: 2rem;
    }
    .cnt {
        width: 47%;
        height: 100%;
        float: left;
        margin-right: .5rem;
        margin-left: .6rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .menu-project-intro {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-bottom: 0;
    }
    ul.ul-project-intro li a {
        margin-right: 2rem;
        width: 100%;
    }
    .cnt {
        width: 96%;
        height: 100%;
        float: left;
        margin-right: 0;
        margin-top: 1rem;
    }
    ul.ul-project-intro {
        margin-left: 0;
        list-style-type: none;
        padding: 0;
    }
}



.page-intro{
	width: 100%;
	height: 300px;
	background: #EAEAF1;
	clear: both;
}
h1.hey {
    color: #E35E5E;
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 1.5rem;
}
span.span{
	color: #2F27D4;
}
.header-boxtum {
    width: 23%;
    height: auto;
    float: left;
    margin-right: 2%;
}
.header-boxtum .box-title{
background-image: linear-gradient(#9E0A0A,#460F91);
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px 49px;
    transform: rotate(45deg);
}
.header-boxtum .box-title1{
	background: #FFFFFF;
    width: 70px;
    height: 70px;
    float: left;
    margin: 15px 15px;
}
.box-title1 .so{
	color: #A41616;
    transform: rotate(-45deg);
    font-size: 36px;
    float: left;
    margin: 15px 17px;
}
.wrap{
    width: 100%;
    height: 47px;
    float: left;
    margin: 12px 0px;
}
.wrap .h6{
    color: #865252;
    float: left;
    margin: 3px 39px;
    font-size: 14px;

}
.subcribe-wrapper{
	width: 100%;
	height: 150px;
	background: #D31C47;
	clear: both;
}
.subone{
	width: 50%;
	height: 150px;
	float: left;
}
.subone1{
	width: 50%;
	height: 150px;
	float: left;
}
.subone .h1{
	color: white;
    float: right;
    padding: 13px 51px;
}
.subone .pip{
	color: white;
    float: right;
    margin: -29px 33px;
}
.subone1 .email{
	float: left;
    width: 40%;
    height: 50px;
    margin: 37px 60px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:none;
    padding-left: 2rem;

}
.subone1 .sub{
	float: left;
	margin: 37px -60px;
	width: 20%;
	height: 51px;
	background: #440B91;
	border: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
/* lập trình CSS cho thiết bị Table max-width: 980px;*/
@media screen and (max-width: 980px){
	.header-boxtum {
		width: 23%;
	}
	.header-boxtum:last-child {
		margin-right: 0;
	}
	.subone1 {
    /* background: #1CBF59; */
    width: 50%;
    height: 150px;
    float: left;
}
}
@media screen and (max-width: 480px){
	h1.hat1{
		width: 100%;
	}
	.page-intro{
		height: auto;
	}
	.header-boxtum {
		width: 48%;
	}
	.subcribe-wrapper {
    width: 100%;
    height: 301px;
    background: #D31C47;
    clear: both;
	}
	.subone1 {
    width: 100%;
    height: 150px;
    float: left;
}
	.subone{
		float: left;
		width: 100%;
	}
	.subonr1{
		width: 100%;
		float: left;
	}
}

footer.footer {
    width: 100%;
    height: auto;
    background: #000e19;
    clear: both;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.right{
	width: 38%;
	height: 100px;
	float: left;
}
.centent{
	width: 24%;
	height: 100px;
	float: left;
	display: block;
}
.left{
	float:left; 
	width: 38%;
	height: 100px;
}
.churight{
	font-family: Oldtown, fantasy;
    float: right;
    margin-bottom: 0;
    color: #7c1c64;
}
.churight1{
	    font-family: Oldtown, fantasy;
    clear: both;
    float: right;
    margin: 0;
    color: #fff;
}
.chuto{
	padding-bottom: 50px;
	    font-family: arial;
    color: white;
    text-align: center;
    margin: -57px;
    margin-left: 33px;
}
img.imaa{
    width: 109px;
    margin-left: 19px;
}
.chuto span{
	 font-family: Oldtown, fantasy;
  background: -webkit-linear-gradient(#291964, #7c1c64);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chuleft{
	font-family: Oldtown, fantasy;
	margin-bottom: 0;
	color: #7c1c64;
}
.chuleft1{
	font-family: Oldtown, fantasy;
	margin-top: 0;
	color: #fff;
}
.lorem{
	    text-align: center;
    padding-top: 120px;
    color: white;
}
.menu{
	width: 100%;
	height: 35px;
	/*background: green;*/

}
.menu li{
	list-style: none;
	padding-left: 20px;
	padding-top: 10px;
	float: left;
    box-sizing: border-box;
	align-items:center; 
	margin-left:10px;

}
.menu li a{
	color: #fff;
	font-size: 12px;
}
.menu li.diff1{
	margin-left: 20%; 
}
.icon .fab {
    width: 30px;
    height: 30px;
    background: #cd266c;
    margin: 2px;
    padding: 0;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.icon .diff{
	margin-left: 43%;
	margin-top: 15px;
	text-align: center;
}
.address {
    width: auto;
    height: 40px;
    background: #000124;
    text-align: center;
    line-height: 40px;
    margin-top: -1rem;
}

.address .p1 span{
 color: white;
 font-weight: bold;
}
.address .p1 {
	color: gray;
}

@media screen and (max-width: 980px){
}
@media screen and (max-width: 480px){
	.right{
		width: 100%;
		text-align: center;
	}
	.churight{
		width: 100%;
		text-align: center;
	}
	.centent {
    width: 100%;
    float: left;
    display: block;
    text-align: center;
	}
	.churight1{
		width: 100%;
	}
	.chuto {
    width: 100%;
    text-align: center;
    /* display: block; */
    margin: 0;
    padding: 0;
	}
	.maumevao{
		width: 100%;
		text-align: center;
	}
	.left{
		width: 100%;
		text-align: center;
	}
	.chuleft{
		width: 100%;
		text-align: center;
	}
	.chuleft1{
		width: 100%;
		text-align: center;
	}
	.lorem{
		width: 100%;
		text-align: center;
	}
	.menu .diff1{
		width: 12.5%;
		text-align: center;
		
	}
}
